<!DOCTYPE html>
<html lang="nl">
    <head>
         <title>403</title>
         <style>
body {
    text-align: center;
    font-size: 20px;
}
#url {
    font-size: 15px;
}
         </style>
    </head>
    <body>
        <h1>403</h1>
        <p>U heeft geen toegang tot deze pagina.</p>
        <p id='url'>Code: 403</p>
        <p id='url'>Url: <%= url %></p>
    </body>
</html>